__pycache__
*.pt
*.log
*.swp
*.gz
*.pdf
*.log
*.bbl
*.blg
*.aux
*.auxlock
*.dpth
*.md5
*.dep
*.table
*.dvi
*.gnuplot
*.fdb_latexmk
*.fls
*.out
*.spl
*.nav
*.toc
*.snm
*.jld2
*.bson
.DS_Store
_cache_*

data/
models/
logs/
figs/
checkpoint/
evals/
env.sh
jl_*
